# generic files to ignore 
*~
*.*~
*#
*.*#
*.lock
*.DS_Store
*.swp
*.out
Thumbs.db

# NetBeans specific #
#nbproject/private/
private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
#*.jar  --> zorgt ervoor dat de benodigde libraries ook worden meegekopieerd
#           wel eerst een "clean" draaien voordat je een commit doet!
*.war
*.ear