<?xml version="1.0" encoding="ISO-8859-1"?>

<!--
    Document   : config.xml
    Created on : 21 mei 2012, 16:53
    Author     : Ralph Berendsen
    Description:
        Configuratie voor DCM4CHEE database en iqc database.
        Configuratie van paden voor analysemodule bestanden
-->

<root>
    <datasources>
        <DCM4CHEE-db>
            <jndi-name>pacsDS</jndi-name> 
            <connection-url>jdbc:mysql://localhost:3306/pacsdb</connection-url> 
            <driver-class>com.mysql.jdbc.Driver</driver-class> 
            <transaction-isolation>TRANSACTION_READ_COMMITTED</transaction-isolation> 
            <user-name>pacs</user-name> 
            <password>pacs</password> 
            <exception-sorter-class-name>org.jboss.resource.adapter.jdbc.vendor.MySQLExceptionSorter</exception-sorter-class-name> 
-           <metadata>
                <type-mapping>mySQL</type-mapping> 
            </metadata>
        </DCM4CHEE-db>
        <iqc-db>
            <jndi-name>pacsDS</jndi-name> 
            <connection-url>jdbc:mysql://localhost:3306/iqc</connection-url> 
            <driver-class>com.mysql.jdbc.Driver</driver-class> 
            <transaction-isolation>TRANSACTION_READ_COMMITTED</transaction-isolation> 
            <user-name>wad</user-name> 
            <password>wad</password> 
            <exception-sorter-class-name>org.jboss.resource.adapter.jdbc.vendor.MySQLExceptionSorter</exception-sorter-class-name> 
-           <metadata>
                <type-mapping>mySQL</type-mapping> 
            </metadata>
        </iqc-db>
    </datasources>
    <filepath>
        <!-- Absoluut pad van de map WAD-IQC, eindig met /-->
        <uploads>C:/xampp/htdocs/</uploads>
        <analysemodule>analysemodule/</analysemodule>    
        <analysemodule_cfg>analysemodule_cfg/</analysemodule_cfg>    
        <!-- Relatief pad (tov WAD_Selector installatie) van de XML mappen voor analysemodule_input en output-->
        <analysemodule_input>../XML/analysemodule_input/</analysemodule_input>    
        <analysemodule_output>../XML/analysemodule_output/</analysemodule_output>        
        <!-- Pad van dcm4chee server -->
        <!-- bijvoorbeeld: C:/WAD-software/dcm4chee-2.17.1-mysql/server/default/ -->
        <archive>C:/apps/BVT/dcm4chee/</archive>
    </filepath>
    <settings>
        <!-- Stop het programma na uitvoer van de eerste timer: 1=stop, 0=doorgaan -->
        <!-- Indien het programma als service draait zorgen dat deze waarde op 0 staat -->
        <stop>1</stop>
        <!-- Tijd tussen uitvoer van de timer in ms -->
        <timer>10000</timer>
        <!-- Aantal analysemodules dat gelijktijdig mag draaien -->
        <jobs>3</jobs>
    </settings>
    
</root>
